<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>
<body>
	<section>	
		
		
		<div class="card-body" >
		<div class="conatiner text-center" >
		 	
			<h3 ><span th:text="${user.name}"></span> </h3>
		
		<table class="table">
  <tbody>
    <tr>
      <th scope="row">USERID</th>
      <td><span th:text="${user.id}"></span></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${user.email}"></span></td>
    </tr>
    <tr>
      <th scope="row">Role</th>
      <td><span th:text="${user.role}"></span></td>
    </tr>
    <tr>
      <th scope="row">Account Active</th>
      <td><span th:text="${user.enabled}"></span></td>
    </tr>
    <tr>
      <th scope="row">About</th>
      <td><span th:text="${user.about}"></span></td>
    </tr>
  </tbody>
</table>

    
   
		</div>	
		</div>
	</section>
</body>
</html>